@import "components/navbar.css";
@import "components/home_btn.css";

#home {
  width: 100%;
  height: auto;
  height: 815px;
}
.home--wrapper {
  width: auto;
  height: auto;
}

.home--content--wrapper {
  width: 100%;
  background: linear-gradient(180deg, #d2def5 0%, rgba(233, 240, 255, 0) 100%);
  display: flex;
}

.btn_common {
  color: #0b66bf;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  border-radius: 50px;
  border: 1px solid #0b66bf;
  cursor: pointer;
  text-decoration: none;
}

.home--content {
  width: 46%;
  padding: 108px 0px 0px 230px;
}
.home--title {
  color: #202d51;
  line-height: 48px;
}
.home--title h1 {
  font-size: 35px;
  font-weight: 800;
}
.home--text {
  width: 460px;
  font-size: 20px;
  line-height: 27px;
  margin-top: 50px;
  color: #626262;
}
.home--btn--wrapper {
  margin-top: 30px;
}
.home--image {
  margin-top: 11px;
  margin-left: 55px;
  width: 674px;
  height: auto;
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .home--content {
    width: 47%;
    padding: 108px 0px 0px 123px;
  }
  .home--image {
    margin-left: 0px;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .home--content {
    width: 55%;
    padding: 90px 0px 0px 79px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .home--content--wrapper {
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
  .home--content {
    width: 90%;
    padding: 90px 0px 0px 79px;
  }
  .home--title h1 {
    font-size: 50px;
    font-weight: 900;
  }
  .home--text {
    width: 100%;
    font-size: 30px;
    line-height: 35px;
  }
  .home--btn--wrapper {
    display: flex;
    justify-content: center;
  }
  .home--image {
    display: none;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .home--content {
    padding: 90px 0px 0px 72px;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .home--content--wrapper {
    align-items: center;
  }
  .home--content {
    width: 90%;
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home--title h1 {
    font-size: 43px;
    font-weight: 800;
  }
}

@media (max-width: 410.98px) {
  .home--btn--wrapper {
    margin-top: 20px;
  }
  .btn--home {
    width: 130px;
    height: 50px;
  }
}

@media (max-width: 321px) {
}
