@import '../animations/home_btn.css';



.btn--home {
  width: 160px;
  height: 65px;
  position: relative;
  display: inline-block;
  overflow: hidden;

}

#btn--try{
    color: white;
    background-color: #0B66BF;
}
#btn--discover{
    margin-left: 25px;
    color: #626262;
    background-color: white;
}