@import "../animations/nav_btn.css";
@import "../animations/nav_underline.css";

.navbar--wrapper {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
.navbar--logo{
  margin-left: 105px;
}
.navbar--compo {
  display: flex;
  align-items: center;
}
.navbar--compo a {
  color: #3e3e3e !important;
  margin-left: 30px;
  position: relative;
}
.nav--combo--text {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

.btn--navbar {
  height: 50px;
  width: 144px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


.bars--icon {
  display: none;
}

@media (min-width: 991.98px) {
  .navbar-collapse{
    flex-grow: 0;
  }
  .navbar--wrapper {
    justify-content: center;
  }
  .navbar--compo {
    margin-left: 175px;
  }

}
@media (max-width: 991.98px) {
  .navbar--compo {
    margin-top: 5px;
    align-items: flex-start;
  }
}