@import "components/department.css";
@import "components/carousel.css";

#members {
  margin-top: 100px;
  width: 100%;
  height: auto;
}
.members--wrapper {
  width: auto;
  height: auto;
}

.ml-55 {
  margin-left: 115px;
}
.fl-cl {
  display: flex;
  flex-direction: column;
}
.center-text {
  display: flex;
  justify-content: center;
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .section--title {
    margin-left: 123px !important;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .section--title {
    margin-left: 75px !important;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .section--title {
    margin-left: 10px !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

@media (max-width: 410.98px) {
}

@media (max-width: 321px) {
}
